.header {
    background-color: $white;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    &__menu {
        &-list {
            display: flex;
            align-items: center;
        } 
    }
    a {
        display: block;
        padding: 1rem;
    }
}
